src/main/mule/mule-loan-ci-cd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="0f221c1a-af37-4964-b524-b2d46e5c69e6" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mule-loan-ci-cdFlow" doc:id="b127e5f8-bf70-4873-a207-9ac551d46129" >
		<http:listener doc:name="Listener" doc:id="776feed0-d5a8-4605-8a6d-3bf03db95987" config-ref="HTTP_Listener_config" path="/test"/>
		<logger level="INFO" doc:name="Logger" doc:id="322ba30b-a28b-49d1-b961-ec69afeb3004" />
		<ee:transform doc:name="Transform Message" doc:id="c31d53f4-9e1f-4671-a08e-8a58218689a6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Result": "CI-CD Deployement successfull"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="3925a96d-3f56-4caf-8f02-093c253e1105" message="ci-cd first change"/>
		<logger level="INFO" doc:name="Logger" doc:id="ea1ce966-e5f5-4aec-810d-df7c36451e66" message='#["Executing the second change"]'/>
	</flow>
</mule>
